flow.json
[{"id":"dd58744e.a91f58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb49f8f7.554c18","type":"inject","z":"dd58744e.a91f58","name":"First start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":140,"y":220,"wires":[["a0adb6a5.60d958"]]},{"id":"1d80d3eb.f772bc","type":"PlaySound","z":"dd58744e.a91f58","name":"1.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_1.wav","options":"{}","x":790,"y":1660,"wires":[["826f1a.29ba10e8"]]},{"id":"22617e97.ee4d32","type":"inject","z":"dd58744e.a91f58","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":40,"wires":[["15e62fdd.970f7"]]},{"id":"15e62fdd.970f7","type":"change","z":"dd58744e.a91f58","name":"Init Variables","rules":[{"t":"set","p":"isrunning","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"level","pt":"global","to":"0","tot":"num"},{"t":"set","p":"switchDelayMs","pt":"global","to":"1000","tot":"num"},{"t":"set","p":"levelSwitchTimestamp","pt":"global","to":"","tot":"date"},{"t":"set","p":"niveauRelease","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":40,"wires":[[]]},{"id":"50204b2f.f3c9e4","type":"PlaySound","z":"dd58744e.a91f58","name":"1.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_2.wav","options":"{}","x":790,"y":1700,"wires":[["826f1a.29ba10e8"]]},{"id":"bebcd4ee.2597f8","type":"PlaySound","z":"dd58744e.a91f58","name":"1.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_3.wav","options":"{}","x":790,"y":1740,"wires":[["826f1a.29ba10e8"]]},{"id":"49b4f849.8ac7c8","type":"PlaySound","z":"dd58744e.a91f58","name":"1.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_4.wav","options":"{}","x":790,"y":1780,"wires":[["826f1a.29ba10e8"]]},{"id":"486a0e80.f14b9","type":"switch","z":"dd58744e.a91f58","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":1780,"wires":[["1d80d3eb.f772bc"],["50204b2f.f3c9e4"],["bebcd4ee.2597f8"],["49b4f849.8ac7c8"],["826f1a.29ba10e8"]]},{"id":"f634abc5.7bd998","type":"PlaySound","z":"dd58744e.a91f58","name":"2.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_1.wav","options":"{}","x":770,"y":2040,"wires":[["c7a69051.09f0c"]]},{"id":"be9c43a8.aad2f","type":"PlaySound","z":"dd58744e.a91f58","name":"2.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_2.wav","options":"{}","x":770,"y":2080,"wires":[["c7a69051.09f0c"]]},{"id":"cb2953e4.607a2","type":"PlaySound","z":"dd58744e.a91f58","name":"2.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_3.wav","options":"{}","x":770,"y":2120,"wires":[["c7a69051.09f0c"]]},{"id":"e19ed720.1de168","type":"PlaySound","z":"dd58744e.a91f58","name":"2.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_4.wav","options":"{}","x":770,"y":2160,"wires":[["c7a69051.09f0c"]]},{"id":"6e9fc6d0.bdf488","type":"switch","z":"dd58744e.a91f58","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":2160,"wires":[["f634abc5.7bd998"],["be9c43a8.aad2f"],["cb2953e4.607a2"],["e19ed720.1de168"],["c7a69051.09f0c"]]},{"id":"c376e3e9.6b5af","type":"link out","z":"dd58744e.a91f58","name":"GoToNiv1","links":["ac440452.297c98"],"x":1215,"y":620,"wires":[]},{"id":"ac440452.297c98","type":"link in","z":"dd58744e.a91f58","name":"StartNiv1","links":["c376e3e9.6b5af"],"x":215,"y":1780,"wires":[["5de5a43b.19365c"]]},{"id":"af2ca943.6b43b8","type":"link in","z":"dd58744e.a91f58","name":"StartNiv2","links":["f342efa2.c41fd"],"x":215,"y":2160,"wires":[["42afc69.6392438"]]},{"id":"f342efa2.c41fd","type":"link out","z":"dd58744e.a91f58","name":"GoToNiv2","links":["af2ca943.6b43b8"],"x":1215,"y":660,"wires":[]},{"id":"4aa6a3f6.4ea55c","type":"link out","z":"dd58744e.a91f58","name":"GoToNiv3","links":["17626e4f.e10c22"],"x":1215,"y":700,"wires":[]},{"id":"2d5dd992.61d1a6","type":"link out","z":"dd58744e.a91f58","name":"GoToNiv4","links":["306dd3d0.38804c"],"x":1215,"y":740,"wires":[]},{"id":"6a37230c.14dbfc","type":"link out","z":"dd58744e.a91f58","name":"GoToNiv5","links":["8d1915d2.daa558"],"x":1215,"y":200,"wires":[]},{"id":"3399f7eb.ce9de8","type":"PlaySound","z":"dd58744e.a91f58","name":"3.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_1.wav","options":"{}","x":770,"y":2340,"wires":[["7081a998.42dc58"]]},{"id":"6e331f43.95ddd","type":"PlaySound","z":"dd58744e.a91f58","name":"3.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_2.wav","options":"{}","x":770,"y":2380,"wires":[["7081a998.42dc58"]]},{"id":"defb070e.e369f8","type":"PlaySound","z":"dd58744e.a91f58","name":"3.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_3.wav","options":"{}","x":770,"y":2420,"wires":[["7081a998.42dc58"]]},{"id":"aae44e1a.e2bad","type":"PlaySound","z":"dd58744e.a91f58","name":"3.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_4.wav","options":"{}","x":770,"y":2460,"wires":[["7081a998.42dc58"]]},{"id":"af9f1acc.a10b38","type":"switch","z":"dd58744e.a91f58","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":550,"y":2500,"wires":[["3399f7eb.ce9de8"],["6e331f43.95ddd"],["defb070e.e369f8"],["aae44e1a.e2bad"],["ce2efafd.65bc48"],["7081a998.42dc58"]]},{"id":"17626e4f.e10c22","type":"link in","z":"dd58744e.a91f58","name":"StartNiv3","links":["4aa6a3f6.4ea55c"],"x":215,"y":2500,"wires":[["c491a0c2.c03be"]]},{"id":"7b7e6fe6.9ab26","type":"PlaySound","z":"dd58744e.a91f58","name":"4.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_1.wav","options":"{}","x":770,"y":2680,"wires":[["1c604d60.a65683"]]},{"id":"412a8449.bcebbc","type":"PlaySound","z":"dd58744e.a91f58","name":"4.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_2.wav","options":"{}","x":770,"y":2720,"wires":[["1c604d60.a65683"]]},{"id":"c29d7ffa.6e8e8","type":"PlaySound","z":"dd58744e.a91f58","name":"4.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_3.wav","options":"{}","x":770,"y":2760,"wires":[["1c604d60.a65683"]]},{"id":"85eb65f3.6569e8","type":"PlaySound","z":"dd58744e.a91f58","name":"4.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_4.wav","options":"{}","x":770,"y":2800,"wires":[["1c604d60.a65683"]]},{"id":"d36811e2.916b9","type":"switch","z":"dd58744e.a91f58","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":2800,"wires":[["7b7e6fe6.9ab26"],["412a8449.bcebbc"],["c29d7ffa.6e8e8"],["85eb65f3.6569e8"],["1c604d60.a65683"]]},{"id":"306dd3d0.38804c","type":"link in","z":"dd58744e.a91f58","name":"StartNiv4","links":["2d5dd992.61d1a6"],"x":215,"y":2800,"wires":[["746a9b2.a832164"]]},{"id":"ae8fc01a.bca09","type":"PlaySound","z":"dd58744e.a91f58","name":"5.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_1.wav","options":"{}","x":770,"y":3020,"wires":[["75032b7.2d21ed4"]]},{"id":"b729d67a.e27138","type":"PlaySound","z":"dd58744e.a91f58","name":"5.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_2.wav","options":"{}","x":770,"y":3060,"wires":[["75032b7.2d21ed4"]]},{"id":"387d549e.6f8b3c","type":"switch","z":"dd58744e.a91f58","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":3080,"wires":[["ae8fc01a.bca09"],["b729d67a.e27138"],["75032b7.2d21ed4"]]},{"id":"8d1915d2.daa558","type":"link in","z":"dd58744e.a91f58","name":"StartNiv5","links":["6a37230c.14dbfc"],"x":215,"y":3080,"wires":[["5362561a.2f0798"]]},{"id":"42afc69.6392438","type":"random","z":"dd58744e.a91f58","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":360,"y":2160,"wires":[["6e9fc6d0.bdf488"]]},{"id":"5de5a43b.19365c","type":"random","z":"dd58744e.a91f58","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":360,"y":1780,"wires":[["486a0e80.f14b9"]]},{"id":"c491a0c2.c03be","type":"random","z":"dd58744e.a91f58","name":"random 5","low":"1","high":"5","inte":"true","property":"payload","x":360,"y":2500,"wires":[["af9f1acc.a10b38"]]},{"id":"746a9b2.a832164","type":"random","z":"dd58744e.a91f58","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":360,"y":2800,"wires":[["d36811e2.916b9"]]},{"id":"5362561a.2f0798","type":"random","z":"dd58744e.a91f58","name":"random 2","low":"2","high":"2","inte":"true","property":"payload","x":360,"y":3080,"wires":[["387d549e.6f8b3c"]]},{"id":"ce2efafd.65bc48","type":"PlaySound","z":"dd58744e.a91f58","name":"3.5","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_5.wav","options":"{}","x":770,"y":2500,"wires":[["7081a998.42dc58"]]},{"id":"1f5c6966.ebb187","type":"switch","z":"dd58744e.a91f58","name":"if release?","property":"level","propertyType":"global","rules":[{"t":"gte","v":"niveauRelease","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":240,"wires":[["e2763cd4.73334"],["84b855e7.cd3a58"]]},{"id":"25883dc6.200172","type":"switch","z":"dd58744e.a91f58","name":"level?","property":"level","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":930,"y":700,"wires":[["c376e3e9.6b5af"],["4aa6a3f6.4ea55c"],["2d5dd992.61d1a6"],["44c0edca.1e04d4"]]},{"id":"bdbccaec.d36e48","type":"change","z":"dd58744e.a91f58","name":"loopTimestamp","rules":[{"t":"set","p":"loopTimestamp","pt":"global","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":700,"wires":[["fb28b731.399c28"]]},{"id":"fb28b731.399c28","type":"function","z":"dd58744e.a91f58","name":"UpdateLevel?","func":"var loopTimestamp = global.get('loopTimestamp');\nvar levelSwitchTimestamp = global.get('levelSwitchTimestamp');\nvar switchDelayMs = global.get('switchDelayMs');\nvar level = global.get('level');\n\nvar newLevel = level;\nif(levelSwitchTimestamp + switchDelayMs < loopTimestamp) {\n    newLevel = level < 4 ? level + 1 : 4;\n    global.set('level', newLevel);\n    global.set('levelSwitchTimestamp', loopTimestamp);\n}\n\nreturn {\n    payload: newLevel,\n    loopTimestamp,\n    levelSwitchTimestamp,\n    switchDelayMs,\n    level,\n    newLevel,\n};","outputs":1,"noerr":0,"x":520,"y":700,"wires":[["25883dc6.200172","1a86b03a.6a79a"]]},{"id":"1a86b03a.6a79a","type":"debug","z":"dd58744e.a91f58","name":"Level","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":620,"wires":[]},{"id":"6580da6.380e524","type":"change","z":"dd58744e.a91f58","name":"","rules":[{"t":"set","p":"level","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":140,"wires":[[]]},{"id":"8ef58c89.665bf","type":"python3-function","z":"dd58744e.a91f58","name":"Check distance","func":"import RPi.GPIO as GPIO\nimport time\n\nGPIO.setmode(GPIO.BOARD)\nGPIO.setup(38,GPIO.IN)\n\ntry:\n    msg['payload'] = GPIO.input(38)\n    GPIO.cleanup()\n    return msg\nexcept KeyboardInterrupt:\n    GPIO.cleanup()\n    msg['payload'] = 1\n    return msg","outputs":1,"x":500,"y":320,"wires":[["9d50aa0e.1b58b8","8423fdf0.5a62e"]]},{"id":"9d50aa0e.1b58b8","type":"switch","z":"dd58744e.a91f58","name":"Someone?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":320,"wires":[["1f5c6966.ebb187","6580da6.380e524"],["bdbccaec.d36e48"]],"outputLabels":["Non","Oui"]},{"id":"e2763cd4.73334","type":"delay","z":"dd58744e.a91f58","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":200,"wires":[["6a37230c.14dbfc"]]},{"id":"59431636.6db9d8","type":"link in","z":"dd58744e.a91f58","name":"Restart Now","links":["826f1a.29ba10e8","c7a69051.09f0c","7081a998.42dc58","1c604d60.a65683","75032b7.2d21ed4"],"x":75,"y":280,"wires":[["a0adb6a5.60d958"]]},{"id":"84b855e7.cd3a58","type":"link out","z":"dd58744e.a91f58","name":"","links":["a2001cf3.74b01"],"x":1215,"y":260,"wires":[]},{"id":"a2001cf3.74b01","type":"link in","z":"dd58744e.a91f58","name":"Restart delay","links":["84b855e7.cd3a58","44c0edca.1e04d4"],"x":75,"y":340,"wires":[["11f3900c.f5631"]]},{"id":"11f3900c.f5631","type":"delay","z":"dd58744e.a91f58","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":340,"wires":[["a0adb6a5.60d958","b0bce2b7.80e4d"]]},{"id":"826f1a.29ba10e8","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1035,"y":1800,"wires":[],"inputLabels":["Restart"]},{"id":"c7a69051.09f0c","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1035,"y":2200,"wires":[],"inputLabels":["Restart"]},{"id":"7081a998.42dc58","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1035,"y":2540,"wires":[],"inputLabels":["Restart"]},{"id":"1c604d60.a65683","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1035,"y":2840,"wires":[],"inputLabels":["Restart"]},{"id":"75032b7.2d21ed4","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1035,"y":3100,"wires":[],"inputLabels":["Restart"]},{"id":"1992b95a.408f97","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Son 5","info":"","x":1310,"y":200,"wires":[]},{"id":"bbeedb29.e3e368","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Delay","info":"","x":1340,"y":260,"wires":[]},{"id":"4f7fcf9c.5aaad","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Son 1","info":"","x":1310,"y":620,"wires":[]},{"id":"575acf71.28988","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Son 2","info":"","x":1310,"y":660,"wires":[]},{"id":"f946815.04efe8","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Son 3","info":"","x":1310,"y":700,"wires":[]},{"id":"411912f6.b746ac","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Son 4","info":"","x":1310,"y":740,"wires":[]},{"id":"44c0edca.1e04d4","type":"link out","z":"dd58744e.a91f58","name":"","links":["a2001cf3.74b01"],"x":1215,"y":780,"wires":[]},{"id":"e2e9a633.da4a48","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1330,"y":780,"wires":[]},{"id":"869f42c9.880dc","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1150,"y":1800,"wires":[]},{"id":"de719b78.cb8898","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1150,"y":2200,"wires":[]},{"id":"e613b754.715c98","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1150,"y":2540,"wires":[]},{"id":"d046f293.609b9","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1150,"y":2840,"wires":[]},{"id":"2264e794.b67438","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1150,"y":3100,"wires":[]},{"id":"2f196fbc.85615","type":"comment","z":"dd58744e.a91f58","name":"Son 5","info":"","x":130,"y":3080,"wires":[]},{"id":"4404ac4a.abc6c4","type":"comment","z":"dd58744e.a91f58","name":"Son 4","info":"","x":130,"y":2800,"wires":[]},{"id":"7eb1530e.52f68c","type":"comment","z":"dd58744e.a91f58","name":"Son 3","info":"","x":130,"y":2500,"wires":[]},{"id":"b6f16100.f19f1","type":"comment","z":"dd58744e.a91f58","name":"Son 2","info":"","x":130,"y":2160,"wires":[]},{"id":"f8f3e640.e8d938","type":"comment","z":"dd58744e.a91f58","name":"Son 1","info":"","x":130,"y":1780,"wires":[]},{"id":"a8b218cc.f3ba58","type":"comment","z":"dd58744e.a91f58","name":"Non","info":"","x":910,"y":300,"wires":[]},{"id":"a0e051df.7ff67","type":"comment","z":"dd58744e.a91f58","name":"Oui","info":"","x":910,"y":340,"wires":[]},{"id":"dabc5aaf.7fb648","type":"debug","z":"dd58744e.a91f58","name":"Check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":200,"wires":[]},{"id":"a0adb6a5.60d958","type":"function","z":"dd58744e.a91f58","name":">>","func":"\nreturn {};","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["dabc5aaf.7fb648","8ef58c89.665bf"]]},{"id":"f874d771.ff2278","type":"PlaySound","z":"dd58744e.a91f58","name":"test_left","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_left.wav","options":"{  }","x":280,"y":960,"wires":[[]]},{"id":"5090c202.c89a6c","type":"PlaySound","z":"dd58744e.a91f58","name":"test_right","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_right.wav","options":"{  }","x":280,"y":1000,"wires":[[]]},{"id":"513a3002.fd21a","type":"PlaySound","z":"dd58744e.a91f58","name":"test_left","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_1.wav","options":"{  }","x":460,"y":960,"wires":[[]]},{"id":"69604ae9.4e8594","type":"PlaySound","z":"dd58744e.a91f58","name":"test_right","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_2.wav","options":"{  }","x":460,"y":1000,"wires":[[]]},{"id":"d0d4da86.840f08","type":"PlaySound","z":"dd58744e.a91f58","name":"test_left","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_left.wav","options":"{  }","x":660,"y":960,"wires":[[]]},{"id":"645237fe.8344b8","type":"PlaySound","z":"dd58744e.a91f58","name":"test_right","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_right.wav","options":"{  }","x":660,"y":1000,"wires":[[]]},{"id":"8423fdf0.5a62e","type":"debug","z":"dd58744e.a91f58","name":"distance","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":220,"wires":[]},{"id":"b0bce2b7.80e4d","type":"debug","z":"dd58744e.a91f58","name":"Delay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":400,"wires":[]}]