flow.json
[{"id":"8b8cb3d0.67791","type":"tab","label":"Global","disabled":false,"info":""},{"id":"dd58744e.a91f58","type":"tab","label":"Sensor","disabled":false,"info":"Sensor Code"},{"id":"212d60b1.146f7","type":"tab","label":"Release","disabled":false,"info":""},{"id":"f283269.462e1d8","type":"tab","label":"Auto update","disabled":false,"info":""},{"id":"c376e3e9.6b5af","type":"link out","z":"dd58744e.a91f58","name":"PlaySound","links":["ac440452.297c98"],"x":1435,"y":620,"wires":[]},{"id":"ac440452.297c98","type":"link in","z":"dd58744e.a91f58","name":"PlaySound","links":["c376e3e9.6b5af"],"x":215,"y":1180,"wires":[["5de5a43b.19365c"]]},{"id":"5de5a43b.19365c","type":"random","z":"dd58744e.a91f58","name":"random 4","low":"1","high":"4","inte":"true","property":"rnd","x":360,"y":1180,"wires":[["7796cea5.7d57"]]},{"id":"fb28b731.399c28","type":"function","z":"dd58744e.a91f58","name":"UpdateLevel?","func":"\nvar level = msg['level'] || 0;\n\nvar newLevel = level + 1;\nif (newLevel > 3) {\n    newLevel = 2;\n}\n\nmsg['level'] = newLevel;\n\nconst globalLevel = 'level_' + msg.sensor;\nglobal.set(globalLevel, newLevel);\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":620,"wires":[["1a86b03a.6a79a","c376e3e9.6b5af"]]},{"id":"1a86b03a.6a79a","type":"debug","z":"dd58744e.a91f58","name":"Level","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":580,"wires":[]},{"id":"6580da6.380e524","type":"change","z":"dd58744e.a91f58","name":"Reset Level","rules":[{"t":"set","p":"level","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":780,"wires":[["defc917c.13bf6"]]},{"id":"9d50aa0e.1b58b8","type":"switch","z":"dd58744e.a91f58","name":"Someone?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":300,"wires":[["7af56766.7f2848"],["84b855e7.cd3a58"]],"outputLabels":["Oui","Non"]},{"id":"59431636.6db9d8","type":"link in","z":"dd58744e.a91f58","name":"Restart Now","links":["75032b7.2d21ed4","826f1a.29ba10e8","8f90e2d1.caf81"],"x":215,"y":260,"wires":[["a0adb6a5.60d958"]]},{"id":"84b855e7.cd3a58","type":"link out","z":"dd58744e.a91f58","name":"","links":["9d5ceb53.a9aed8"],"x":1435,"y":340,"wires":[]},{"id":"a2001cf3.74b01","type":"link in","z":"dd58744e.a91f58","name":"Restart delay","links":["44c0edca.1e04d4","5220af35.a3b36","509a4d20.ed46a4","be96d138.3e7bb"],"x":215,"y":340,"wires":[["11f3900c.f5631"]]},{"id":"11f3900c.f5631","type":"delay","z":"dd58744e.a91f58","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":340,"wires":[["a0adb6a5.60d958","b0bce2b7.80e4d"]]},{"id":"826f1a.29ba10e8","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1375,"y":1180,"wires":[],"inputLabels":["Restart"]},{"id":"bbeedb29.e3e368","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Manage reset","info":"","x":1560,"y":340,"wires":[]},{"id":"4f7fcf9c.5aaad","type":"comment","z":"dd58744e.a91f58","name":"PlaySound","info":"","x":1540,"y":620,"wires":[]},{"id":"869f42c9.880dc","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1510,"y":1180,"wires":[]},{"id":"f8f3e640.e8d938","type":"comment","z":"dd58744e.a91f58","name":"PlaySound","info":"","x":120,"y":1180,"wires":[]},{"id":"dabc5aaf.7fb648","type":"debug","z":"dd58744e.a91f58","name":"Check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":220,"wires":[]},{"id":"a0adb6a5.60d958","type":"function","z":"dd58744e.a91f58","name":">>","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["dabc5aaf.7fb648","5b0e1980.5dff18"]]},{"id":"b0bce2b7.80e4d","type":"debug","z":"dd58744e.a91f58","name":"Delay","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":400,"wires":[]},{"id":"dfd4f41d.bebd68","type":"inject","z":"8b8cb3d0.67791","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":80,"wires":[["5331c1b1.4e0da"]]},{"id":"5331c1b1.4e0da","type":"change","z":"8b8cb3d0.67791","name":"Init Variables","rules":[{"t":"set","p":"resetDelaySeconds","pt":"global","to":"3","tot":"num"},{"t":"set","p":"pathOfSounds","pt":"global","to":"/home/pi/.node-red/projects/Sapin/wav/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["ebc64224.b7aa1"]]},{"id":"d472de12.a121f","type":"change","z":"dd58744e.a91f58","name":"Init Flow Variables","rules":[{"t":"set","p":"level","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":200,"wires":[["a0adb6a5.60d958"]]},{"id":"d88796fc.707a68","type":"link in","z":"dd58744e.a91f58","name":"Manage level","links":["7af56766.7f2848"],"x":215,"y":620,"wires":[["fb28b731.399c28"]]},{"id":"7af56766.7f2848","type":"link out","z":"dd58744e.a91f58","name":"","links":["d88796fc.707a68"],"x":1435,"y":280,"wires":[]},{"id":"171398e4.f0dd77","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Manage level","info":"","x":1560,"y":280,"wires":[]},{"id":"4cfae70.bb39518","type":"comment","z":"dd58744e.a91f58","name":"Manage level","info":"","x":110,"y":620,"wires":[]},{"id":"e7c957ea.5a1818","type":"comment","z":"dd58744e.a91f58","name":"Restart Delay","info":"","x":110,"y":340,"wires":[]},{"id":"7ddf0322.2386dc","type":"comment","z":"dd58744e.a91f58","name":"Restart now","info":"","x":110,"y":260,"wires":[]},{"id":"9d5ceb53.a9aed8","type":"link in","z":"dd58744e.a91f58","name":"Manage reset","links":["1a0a6344.75dd2d","84b855e7.cd3a58"],"x":215,"y":780,"wires":[["215c527b.1042ee"]]},{"id":"8d11d13c.53702","type":"comment","z":"dd58744e.a91f58","name":"Manage reset","info":"","x":110,"y":780,"wires":[]},{"id":"7352f54b.5758cc","type":"change","z":"dd58744e.a91f58","name":"set loopTimeStamp","rules":[{"t":"set","p":"loopTimeStamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":780,"wires":[["ff6d45ca.37e9b8"]]},{"id":"da4922fb.60122","type":"switch","z":"dd58744e.a91f58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":780,"wires":[["6580da6.380e524","5ca3f187.d0b79"],["509a4d20.ed46a4","9cd85bec.ba3838"]]},{"id":"ff6d45ca.37e9b8","type":"function","z":"dd58744e.a91f58","name":"delay","func":"var lastSoundPlayed = msg['lastSoundPlayed'];\nvar loopTimeStamp = msg['loopTimeStamp'];\nvar resetDelaySeconds = global.get('resetDelaySeconds');\n\n\nif(loopTimeStamp > lastSoundPlayed + (resetDelaySeconds * 1000)) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":780,"wires":[["da4922fb.60122"]]},{"id":"5ca3f187.d0b79","type":"debug","z":"dd58744e.a91f58","name":"Reset Level To 0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":700,"wires":[]},{"id":"215c527b.1042ee","type":"switch","z":"dd58744e.a91f58","name":"level > 0","property":"level","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":780,"wires":[["7352f54b.5758cc"],["be96d138.3e7bb"]]},{"id":"7796cea5.7d57","type":"function","z":"dd58744e.a91f58","name":"Trigger sound","func":"\nmsg.audioURI = \n    global.get('pathOfSounds') + \n    'Niveau' + msg.level + '/' + \n    msg.sensor+'.wav';\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1180,"wires":[["6208de79.c088b","904053b3.8e26b"]]},{"id":"6208de79.c088b","type":"PlaySound","z":"dd58744e.a91f58","name":"","playerOptions":"{\"player\":\"aplay\"}","audioURI":"","options":"{}","x":770,"y":1180,"wires":[["a8d03ea.1a73ec"]]},{"id":"91db2d7f.f309f","type":"link in","z":"dd58744e.a91f58","name":"First start","links":["75032b7.2d21ed4","904e510c.e655d","bc87b2ce.bdbe3","707585e.1598e7c","c6a7af84.10faa","a36ef174.08931","81d74469.d5a268","d0efdc5.21f812","5aa082c7.27c96c","4dd826b6.d2ebb8","8f90e2d1.caf81"],"x":215,"y":200,"wires":[["d472de12.a121f"]]},{"id":"cdcd360e.c09148","type":"comment","z":"dd58744e.a91f58","name":"First Start","info":"","x":100,"y":200,"wires":[]},{"id":"fb487fbd.a84da","type":"inject","z":"8b8cb3d0.67791","name":"First start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2.1","x":120,"y":440,"wires":[["dee67ea4.d9688"]]},{"id":"dee67ea4.d9688","type":"function","z":"8b8cb3d0.67791","name":"Start sensor A1","func":"global.set('level_1', 0);\n\nreturn {\n    sensorGroup: 'A',\n    sensor: 1,\n    GPIO_pin: 18,\n};","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["bc87b2ce.bdbe3"]]},{"id":"bc87b2ce.bdbe3","type":"link out","z":"8b8cb3d0.67791","name":"GoToFirstStart","links":["91db2d7f.f309f"],"x":495,"y":440,"wires":[]},{"id":"ffa4ec0f.ba457","type":"inject","z":"8b8cb3d0.67791","name":"First start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2.2","x":120,"y":520,"wires":[["d7619e4f.6b3a8"]]},{"id":"d7619e4f.6b3a8","type":"function","z":"8b8cb3d0.67791","name":"Start sensor A2","func":"global.set('level_2', 0);\n\nreturn {\n    sensorGroup: 'A',\n    sensor: 2,\n    GPIO_pin: 22,\n};","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["707585e.1598e7c"]]},{"id":"707585e.1598e7c","type":"link out","z":"8b8cb3d0.67791","name":"GoToFirstStart","links":["91db2d7f.f309f"],"x":495,"y":520,"wires":[]},{"id":"566cd945.3935f8","type":"inject","z":"8b8cb3d0.67791","name":"First start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2.3","x":120,"y":600,"wires":[["61736216.27d1ac"]]},{"id":"61736216.27d1ac","type":"function","z":"8b8cb3d0.67791","name":"Start sensor A3","func":"global.set('level_3', 0);\n\nreturn {\n    sensorGroup: 'A',\n    sensor: 3,\n    GPIO_pin: 36,\n};","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["c6a7af84.10faa"]]},{"id":"c6a7af84.10faa","type":"link out","z":"8b8cb3d0.67791","name":"GoToFirstStart","links":["91db2d7f.f309f"],"x":495,"y":600,"wires":[]},{"id":"309a3684.7bfa4a","type":"inject","z":"8b8cb3d0.67791","name":"First start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2.4","x":120,"y":680,"wires":[["9287e60f.323f68"]]},{"id":"9287e60f.323f68","type":"function","z":"8b8cb3d0.67791","name":"Start sensor A4","func":"global.set('level_4', 0);\n\nreturn {\n    sensorGroup: 'A',\n    sensor: 4,\n    GPIO_pin: 38,\n};","outputs":1,"noerr":0,"x":320,"y":680,"wires":[["a36ef174.08931"]]},{"id":"a36ef174.08931","type":"link out","z":"8b8cb3d0.67791","name":"GoToFirstStart","links":["91db2d7f.f309f"],"x":495,"y":680,"wires":[]},{"id":"5220af35.a3b36","type":"link out","z":"dd58744e.a91f58","name":"","links":["a2001cf3.74b01"],"x":1435,"y":800,"wires":[]},{"id":"a64814fe.eea958","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Delay","info":"","x":1580,"y":800,"wires":[]},{"id":"509a4d20.ed46a4","type":"link out","z":"dd58744e.a91f58","name":"","links":["a2001cf3.74b01"],"x":1055,"y":840,"wires":[]},{"id":"f68b3612.29de48","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Delay","info":"","x":1180,"y":840,"wires":[]},{"id":"be96d138.3e7bb","type":"link out","z":"dd58744e.a91f58","name":"","links":["a2001cf3.74b01"],"x":495,"y":840,"wires":[]},{"id":"3bcf8fee.c4f46","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Delay","info":"","x":620,"y":840,"wires":[]},{"id":"904053b3.8e26b","type":"debug","z":"dd58744e.a91f58","name":"PlaySound Debuger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"audioURI","x":770,"y":1120,"wires":[]},{"id":"9cd85bec.ba3838","type":"debug","z":"dd58744e.a91f58","name":"Dont Reset Level To 0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1140,"y":900,"wires":[]},{"id":"7ea15e6.60b59a","type":"catch","z":"dd58744e.a91f58","name":"","scope":null,"x":120,"y":60,"wires":[["ae589102.695eb"]]},{"id":"ae589102.695eb","type":"debug","z":"dd58744e.a91f58","name":"Master Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":280,"y":60,"wires":[]},{"id":"bd101204.891cc","type":"status","z":"dd58744e.a91f58","name":"","scope":["8ef58c89.665bf"],"x":520,"y":60,"wires":[["cf452e9c.b7541"]]},{"id":"cf452e9c.b7541","type":"debug","z":"dd58744e.a91f58","name":"Master Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":60,"wires":[]},{"id":"cacb11c1.96222","type":"debug","z":"8b8cb3d0.67791","name":"PIN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":440,"wires":[]},{"id":"907c462b.cc1a98","type":"rpi-gpio in","z":"8b8cb3d0.67791","name":"Sensor 1 - 22","pin":"22","intype":"up","debounce":"25","read":true,"x":690,"y":440,"wires":[["9a0ddd9.53efa2"]]},{"id":"9a0ddd9.53efa2","type":"function","z":"8b8cb3d0.67791","name":"set sensor 1 state","func":"\nif(msg.payload === 0) {\n    global.set('state1', true);\n} else {\n    global.set('state1', false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":440,"wires":[["cacb11c1.96222"]]},{"id":"6bf2012.5de5e","type":"debug","z":"8b8cb3d0.67791","name":"PIN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":520,"wires":[]},{"id":"7b7d4411.589e9c","type":"rpi-gpio in","z":"8b8cb3d0.67791","name":"Sensor 2 - 32","pin":"32","intype":"up","debounce":"25","read":true,"x":690,"y":520,"wires":[["2baee88c.aa3b68"]]},{"id":"2baee88c.aa3b68","type":"function","z":"8b8cb3d0.67791","name":"set sensor 2 state","func":"\nif(msg.payload === 0) {\n    global.set('state2', true);\n} else {\n    global.set('state2', false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":520,"wires":[["6bf2012.5de5e"]]},{"id":"71346b3a.dfb024","type":"debug","z":"8b8cb3d0.67791","name":"PIN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":600,"wires":[]},{"id":"a6da8068.bb2a4","type":"rpi-gpio in","z":"8b8cb3d0.67791","name":"Sensor 3 - 36","pin":"36","intype":"up","debounce":"25","read":true,"x":690,"y":600,"wires":[["8152609f.769f1"]]},{"id":"8152609f.769f1","type":"function","z":"8b8cb3d0.67791","name":"set sensor 3 state","func":"\nif(msg.payload === 0) {\n    global.set('state3', true);\n} else {\n    global.set('state3', false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":600,"wires":[["71346b3a.dfb024"]]},{"id":"bbafda2f.e30d58","type":"debug","z":"8b8cb3d0.67791","name":"PIN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":680,"wires":[]},{"id":"3041641b.b7aa5c","type":"rpi-gpio in","z":"8b8cb3d0.67791","name":"Sensor 4 - 38","pin":"38","intype":"up","debounce":"25","read":true,"x":690,"y":680,"wires":[[]]},{"id":"45edb19c.47237","type":"function","z":"8b8cb3d0.67791","name":"set sensor 4 state","func":"\nif(msg.payload === 0) {\n    global.set('state4', true);\n} else {\n    global.set('state4', false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":680,"wires":[["bbafda2f.e30d58"]]},{"id":"5b0e1980.5dff18","type":"function","z":"dd58744e.a91f58","name":"return sensor state","func":"\nmsg.payload = global.get('state' + msg.sensor);\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["9d50aa0e.1b58b8","37c18aef.94dd86"]]},{"id":"37c18aef.94dd86","type":"debug","z":"dd58744e.a91f58","name":"State","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":220,"wires":[]},{"id":"19c4e7f.41af518","type":"PlaySound","z":"8b8cb3d0.67791","name":"","playerOptions":"{}","audioURI":"","options":"{}","x":750,"y":80,"wires":[[]]},{"id":"2470aa9a.485476","type":"random","z":"212d60b1.146f7","name":"random 4","low":"1","high":"3","inte":"true","property":"rnd","x":680,"y":360,"wires":[["d2eaa0a0.1968b"]]},{"id":"539aedd1.d9ba14","type":"inject","z":"212d60b1.146f7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["c697d649.baf9a8"]]},{"id":"defc917c.13bf6","type":"function","z":"dd58744e.a91f58","name":"set global level","func":"\nconst globalLevel = 'level_' + msg.sensor;\nglobal.set(globalLevel, msg.level);\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":780,"wires":[["5220af35.a3b36","1f5e7cb6.859f33"]]},{"id":"ebc64224.b7aa1","type":"function","z":"8b8cb3d0.67791","name":"Trigger sound","func":"msg.audioURI = \n    global.get('pathOfSounds') + \n    'version.wav';\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["19c4e7f.41af518"]]},{"id":"c155e4e.2ba8818","type":"inject","z":"8b8cb3d0.67791","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":380,"wires":[["9a0ddd9.53efa2"]]},{"id":"99d76bf1.d828c8","type":"inject","z":"8b8cb3d0.67791","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":340,"wires":[["9a0ddd9.53efa2"]]},{"id":"be0cf7f1.773248","type":"exec","z":"f283269.462e1d8","command":"./.node-red/projects/Sapin/startup.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Git pull","x":340,"y":160,"wires":[["b74aadb6.6b2c1","a2e7d449.a5ee88"],[],[]]},{"id":"95240e4b.47beb","type":"inject","z":"f283269.462e1d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"10","x":150,"y":160,"wires":[["be0cf7f1.773248"]]},{"id":"b74aadb6.6b2c1","type":"switch","z":"f283269.462e1d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Already up-to-date.","vt":"str"},{"t":"cont","v":"Updating","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":160,"wires":[["ba01ec17.5a401"],["ba01ec17.5a401","c47a3252.3727a"],["ba01ec17.5a401"]]},{"id":"5968fe68.f12b5","type":"exec","z":"f283269.462e1d8","command":"./.node-red/projects/Sapin/restart-node-red.sh ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":460,"y":320,"wires":[["2d4bdad8.9a6df6"],[],[]]},{"id":"2d4bdad8.9a6df6","type":"debug","z":"f283269.462e1d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":300,"wires":[]},{"id":"fc446769.f5ab18","type":"inject","z":"f283269.462e1d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":320,"wires":[["5968fe68.f12b5"]]},{"id":"ba01ec17.5a401","type":"debug","z":"f283269.462e1d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":140,"wires":[]},{"id":"a2e7d449.a5ee88","type":"debug","z":"f283269.462e1d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":100,"wires":[]},{"id":"c342f453.2bed78","type":"link in","z":"212d60b1.146f7","name":"Test4Release","links":["1f5e7cb6.859f33"],"x":155,"y":360,"wires":[["c697d649.baf9a8"]]},{"id":"d2eaa0a0.1968b","type":"function","z":"212d60b1.146f7","name":"Trigger sound","func":"\nmsg.audioURI = \n    global.get('pathOfSounds') + \n    'Release/'+msg.rnd+'_mono.wav';\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["8f240fbe.69e1c"]]},{"id":"8f240fbe.69e1c","type":"PlaySound","z":"212d60b1.146f7","name":"","playerOptions":"{\"player\":\"aplay\"}","audioURI":"","options":"{}","x":1090,"y":360,"wires":[[]]},{"id":"c697d649.baf9a8","type":"function","z":"212d60b1.146f7","name":"","func":"\nconst level1 = global.get('level_1');\nconst level2 = global.get('level_2');\nconst level3 = global.get('level_3');\nconst level4 = global.get('level_4');\n\nif (\n    level1 === 0 && \n    level2 === 0 && \n    level3 === 0 && \n    level4 === 0\n) return { payload:true }\n\nreturn { payload:false }","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["d54fe424.111a68"]]},{"id":"d54fe424.111a68","type":"switch","z":"212d60b1.146f7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":360,"wires":[["2470aa9a.485476"],[]]},{"id":"1f5e7cb6.859f33","type":"link out","z":"dd58744e.a91f58","name":"","links":["c342f453.2bed78"],"x":1435,"y":760,"wires":[]},{"id":"67048fad.7fcea","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Test4Release","info":"","x":1580,"y":760,"wires":[]},{"id":"a8d03ea.1a73ec","type":"change","z":"dd58744e.a91f58","name":"set lastSoundPlayed","rules":[{"t":"set","p":"lastSoundPlayed","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1180,"wires":[["826f1a.29ba10e8"]]},{"id":"c47a3252.3727a","type":"PlaySound","z":"f283269.462e1d8","name":"","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/.node-red/projects/Sapin/wav/maj.wav","options":"{}","x":890,"y":200,"wires":[["5968fe68.f12b5"]]},{"id":"b88dda6e.dbc788","type":"function","z":"dd58744e.a91f58","name":"Trigger sound","func":"\nmsg.audioURI = \n    global.get('pathOfSounds') + \n    msg.level + '_'+msg.rnd+'.wav';\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1120,"wires":[[]]}]