flow.json
[{"id":"8b8cb3d0.67791","type":"tab","label":"Global","disabled":false,"info":""},{"id":"dd58744e.a91f58","type":"tab","label":"Sensor L-1","disabled":false,"info":"Sensor Left 1"},{"id":"6e7fc802.814718","type":"tab","label":"Sensor L-2","disabled":false,"info":""},{"id":"eb49f8f7.554c18","type":"inject","z":"dd58744e.a91f58","name":"First start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":120,"y":200,"wires":[["d472de12.a121f"]]},{"id":"c376e3e9.6b5af","type":"link out","z":"dd58744e.a91f58","name":"PlaySound","links":["ac440452.297c98"],"x":1215,"y":620,"wires":[]},{"id":"ac440452.297c98","type":"link in","z":"dd58744e.a91f58","name":"PlaySound","links":["c376e3e9.6b5af"],"x":215,"y":1180,"wires":[["5de5a43b.19365c"]]},{"id":"ae8fc01a.bca09","type":"PlaySound","z":"dd58744e.a91f58","name":"5.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_1.wav","options":"{}","x":790,"y":1380,"wires":[["75032b7.2d21ed4"]]},{"id":"b729d67a.e27138","type":"PlaySound","z":"dd58744e.a91f58","name":"5.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_2.wav","options":"{}","x":790,"y":1420,"wires":[["75032b7.2d21ed4"]]},{"id":"387d549e.6f8b3c","type":"switch","z":"dd58744e.a91f58","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":1440,"wires":[["ae8fc01a.bca09"],["b729d67a.e27138"],["75032b7.2d21ed4"]]},{"id":"8d1915d2.daa558","type":"link in","z":"dd58744e.a91f58","name":"StartNiv5","links":["6a37230c.14dbfc"],"x":235,"y":1440,"wires":[["5362561a.2f0798"]]},{"id":"5de5a43b.19365c","type":"random","z":"dd58744e.a91f58","name":"random 4","low":"1","high":"4","inte":"true","property":"rnd","x":360,"y":1180,"wires":[["7796cea5.7d57"]]},{"id":"5362561a.2f0798","type":"random","z":"dd58744e.a91f58","name":"random 2","low":"2","high":"2","inte":"true","property":"payload","x":380,"y":1440,"wires":[["387d549e.6f8b3c"]]},{"id":"bdbccaec.d36e48","type":"change","z":"dd58744e.a91f58","name":"set lastLevelUpdate","rules":[{"t":"set","p":"lastLevelUpdate","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["fb28b731.399c28"]]},{"id":"fb28b731.399c28","type":"function","z":"dd58744e.a91f58","name":"UpdateLevel?","func":"\nvar level = flow.get('level') || 0;\n\nvar newLevel = level + 1;\nif (newLevel > 3) {\n    newLevel = 2;\n}\n\nflow.set('level', newLevel);\n\nreturn {\n    payload: newLevel,\n    level,\n    newLevel,\n};","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["1a86b03a.6a79a","c376e3e9.6b5af"]]},{"id":"1a86b03a.6a79a","type":"debug","z":"dd58744e.a91f58","name":"Level","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":500,"wires":[]},{"id":"6580da6.380e524","type":"change","z":"dd58744e.a91f58","name":"Reset Level","rules":[{"t":"set","p":"level","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":780,"wires":[[]]},{"id":"8ef58c89.665bf","type":"python3-function","z":"dd58744e.a91f58","name":"Check sensor","func":"import RPi.GPIO as GPIO\nimport time\n\nGPIO.setmode(GPIO.BOARD)\nGPIO.setup(38,GPIO.IN)\n\ntry:\n    msg['payload'] = GPIO.input(38)\n    GPIO.cleanup()\n    return msg\nexcept KeyboardInterrupt:\n    GPIO.cleanup()\n    msg['payload'] = 1\n    return msg","outputs":1,"x":860,"y":300,"wires":[["9d50aa0e.1b58b8","8423fdf0.5a62e"]]},{"id":"9d50aa0e.1b58b8","type":"switch","z":"dd58744e.a91f58","name":"Someone?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":300,"wires":[["7af56766.7f2848"],["84b855e7.cd3a58"]],"outputLabels":["Oui","Non"]},{"id":"59431636.6db9d8","type":"link in","z":"dd58744e.a91f58","name":"Restart Now","links":["826f1a.29ba10e8","c7a69051.09f0c","7081a998.42dc58","1c604d60.a65683","75032b7.2d21ed4"],"x":215,"y":260,"wires":[["a0adb6a5.60d958"]]},{"id":"84b855e7.cd3a58","type":"link out","z":"dd58744e.a91f58","name":"","links":["9d5ceb53.a9aed8","a2001cf3.74b01"],"x":1215,"y":360,"wires":[]},{"id":"a2001cf3.74b01","type":"link in","z":"dd58744e.a91f58","name":"Restart delay","links":["44c0edca.1e04d4","84b855e7.cd3a58"],"x":215,"y":340,"wires":[["11f3900c.f5631"]]},{"id":"11f3900c.f5631","type":"delay","z":"dd58744e.a91f58","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":340,"wires":[["a0adb6a5.60d958","b0bce2b7.80e4d"]]},{"id":"826f1a.29ba10e8","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1035,"y":1200,"wires":[],"inputLabels":["Restart"]},{"id":"75032b7.2d21ed4","type":"link out","z":"dd58744e.a91f58","name":"","links":["59431636.6db9d8"],"x":1055,"y":1460,"wires":[],"inputLabels":["Restart"]},{"id":"bbeedb29.e3e368","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Manage reset, Restart Now","info":"","x":1380,"y":360,"wires":[]},{"id":"4f7fcf9c.5aaad","type":"comment","z":"dd58744e.a91f58","name":"PlaySound","info":"","x":1300,"y":620,"wires":[]},{"id":"869f42c9.880dc","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1150,"y":1200,"wires":[]},{"id":"2264e794.b67438","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Restart Now","info":"","x":1170,"y":1460,"wires":[]},{"id":"2f196fbc.85615","type":"comment","z":"dd58744e.a91f58","name":"Son 5","info":"","x":150,"y":1440,"wires":[]},{"id":"f8f3e640.e8d938","type":"comment","z":"dd58744e.a91f58","name":"PlaySound","info":"","x":120,"y":1180,"wires":[]},{"id":"dabc5aaf.7fb648","type":"debug","z":"dd58744e.a91f58","name":"Check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":220,"wires":[]},{"id":"a0adb6a5.60d958","type":"function","z":"dd58744e.a91f58","name":">>","func":"\nreturn {payload: null};","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["dabc5aaf.7fb648","8ef58c89.665bf"]]},{"id":"f874d771.ff2278","type":"PlaySound","z":"dd58744e.a91f58","name":"test_left","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_left.wav","options":"{  }","x":280,"y":960,"wires":[[]]},{"id":"5090c202.c89a6c","type":"PlaySound","z":"dd58744e.a91f58","name":"test_right","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_right.wav","options":"{  }","x":280,"y":1000,"wires":[[]]},{"id":"8423fdf0.5a62e","type":"debug","z":"dd58744e.a91f58","name":"distance","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":220,"wires":[]},{"id":"b0bce2b7.80e4d","type":"debug","z":"dd58744e.a91f58","name":"Delay","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":420,"wires":[]},{"id":"dfd4f41d.bebd68","type":"inject","z":"8b8cb3d0.67791","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":80,"wires":[["5331c1b1.4e0da"]]},{"id":"5331c1b1.4e0da","type":"change","z":"8b8cb3d0.67791","name":"Init Variables","rules":[{"t":"set","p":"resetDelaySeconds","pt":"global","to":"8","tot":"num"},{"t":"set","p":"pathOfSounds","pt":"global","to":"/home/pi/Music/Rires_Prototype/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":80,"wires":[[]]},{"id":"102875ec.23422a","type":"inject","z":"6e7fc802.814718","name":"First start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":160,"y":100,"wires":[[]]},{"id":"c7b6128b.7d94a","type":"PlaySound","z":"6e7fc802.814718","name":"1.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_1.wav","options":"{}","x":810,"y":1540,"wires":[["33a70937.10d616"]]},{"id":"438bef03.a121b","type":"PlaySound","z":"6e7fc802.814718","name":"1.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_2.wav","options":"{}","x":810,"y":1580,"wires":[["33a70937.10d616"]]},{"id":"e537372d.b4a508","type":"PlaySound","z":"6e7fc802.814718","name":"1.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_3.wav","options":"{}","x":810,"y":1620,"wires":[["33a70937.10d616"]]},{"id":"d2d128a9.8213e8","type":"PlaySound","z":"6e7fc802.814718","name":"1.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_4.wav","options":"{}","x":810,"y":1660,"wires":[["33a70937.10d616"]]},{"id":"ce7003c0.a28e7","type":"switch","z":"6e7fc802.814718","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":570,"y":1660,"wires":[["c7b6128b.7d94a"],["438bef03.a121b"],["e537372d.b4a508"],["d2d128a9.8213e8"],["33a70937.10d616"]]},{"id":"94c0ff4a.d202c","type":"PlaySound","z":"6e7fc802.814718","name":"2.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_1.wav","options":"{}","x":790,"y":1920,"wires":[["c59c92d7.b3efa"]]},{"id":"dc50626e.b1cd4","type":"PlaySound","z":"6e7fc802.814718","name":"2.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_2.wav","options":"{}","x":790,"y":1960,"wires":[["c59c92d7.b3efa"]]},{"id":"2d0c5027.cb902","type":"PlaySound","z":"6e7fc802.814718","name":"2.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_3.wav","options":"{}","x":790,"y":2000,"wires":[["c59c92d7.b3efa"]]},{"id":"8d612673.16d488","type":"PlaySound","z":"6e7fc802.814718","name":"2.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_4.wav","options":"{}","x":790,"y":2040,"wires":[["c59c92d7.b3efa"]]},{"id":"b3197890.9bc798","type":"switch","z":"6e7fc802.814718","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":570,"y":2040,"wires":[["94c0ff4a.d202c"],["dc50626e.b1cd4"],["2d0c5027.cb902"],["8d612673.16d488"],["c59c92d7.b3efa"]]},{"id":"eeca9cf.cc0f16","type":"link out","z":"6e7fc802.814718","name":"GoToNiv1","links":["3c28cfbd.1bec1"],"x":1235,"y":500,"wires":[]},{"id":"3c28cfbd.1bec1","type":"link in","z":"6e7fc802.814718","name":"StartNiv1","links":["eeca9cf.cc0f16"],"x":235,"y":1660,"wires":[["ffb2169e.781a68"]]},{"id":"89c2949.8e8e168","type":"link in","z":"6e7fc802.814718","name":"StartNiv2","links":["bd3d65e3.162a58"],"x":235,"y":2040,"wires":[["1ea4a16b.66573f"]]},{"id":"bd3d65e3.162a58","type":"link out","z":"6e7fc802.814718","name":"GoToNiv2","links":["89c2949.8e8e168"],"x":1235,"y":540,"wires":[]},{"id":"ec134692.4fa738","type":"link out","z":"6e7fc802.814718","name":"GoToNiv3","links":["8f8dbbcc.2c9138"],"x":1235,"y":580,"wires":[]},{"id":"472bbbd5.5f6094","type":"link out","z":"6e7fc802.814718","name":"GoToNiv4","links":["8a9761f1.9f1da"],"x":1235,"y":620,"wires":[]},{"id":"67b8a820.96fdb8","type":"link out","z":"6e7fc802.814718","name":"GoToNiv5","links":["d431431f.46dff"],"x":1235,"y":80,"wires":[]},{"id":"52248973.cfc948","type":"PlaySound","z":"6e7fc802.814718","name":"3.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_1.wav","options":"{}","x":790,"y":2220,"wires":[["985c5a11.668ea8"]]},{"id":"5b4ec2e.10df73c","type":"PlaySound","z":"6e7fc802.814718","name":"3.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_2.wav","options":"{}","x":790,"y":2260,"wires":[["985c5a11.668ea8"]]},{"id":"d5e1334a.f548c","type":"PlaySound","z":"6e7fc802.814718","name":"3.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_3.wav","options":"{}","x":790,"y":2300,"wires":[["985c5a11.668ea8"]]},{"id":"6da473.aaa64b8c","type":"PlaySound","z":"6e7fc802.814718","name":"3.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_4.wav","options":"{}","x":790,"y":2340,"wires":[["985c5a11.668ea8"]]},{"id":"799af59f.aebfec","type":"switch","z":"6e7fc802.814718","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":570,"y":2380,"wires":[["52248973.cfc948"],["5b4ec2e.10df73c"],["d5e1334a.f548c"],["6da473.aaa64b8c"],["c12211d1.f09e4"],["985c5a11.668ea8"]]},{"id":"8f8dbbcc.2c9138","type":"link in","z":"6e7fc802.814718","name":"StartNiv3","links":["ec134692.4fa738"],"x":235,"y":2380,"wires":[["75ca00ea.ffe8e"]]},{"id":"1ebc939c.1361bc","type":"PlaySound","z":"6e7fc802.814718","name":"4.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_1.wav","options":"{}","x":790,"y":2560,"wires":[["6b068aa9.d1e5a4"]]},{"id":"b0cef928.6f1aa8","type":"PlaySound","z":"6e7fc802.814718","name":"4.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_2.wav","options":"{}","x":790,"y":2600,"wires":[["6b068aa9.d1e5a4"]]},{"id":"60038b91.23ba34","type":"PlaySound","z":"6e7fc802.814718","name":"4.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_3.wav","options":"{}","x":790,"y":2640,"wires":[["6b068aa9.d1e5a4"]]},{"id":"ae4295ff.bec018","type":"PlaySound","z":"6e7fc802.814718","name":"4.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_4.wav","options":"{}","x":790,"y":2680,"wires":[["6b068aa9.d1e5a4"]]},{"id":"397d2ddc.b26672","type":"switch","z":"6e7fc802.814718","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":570,"y":2680,"wires":[["1ebc939c.1361bc"],["b0cef928.6f1aa8"],["60038b91.23ba34"],["ae4295ff.bec018"],["6b068aa9.d1e5a4"]]},{"id":"8a9761f1.9f1da","type":"link in","z":"6e7fc802.814718","name":"StartNiv4","links":["472bbbd5.5f6094"],"x":235,"y":2680,"wires":[["7aee6e35.e465b"]]},{"id":"eadf1429.7b7a78","type":"PlaySound","z":"6e7fc802.814718","name":"5.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_1.wav","options":"{}","x":790,"y":2900,"wires":[["a3d9075c.135018"]]},{"id":"faf1e8a6.c83af8","type":"PlaySound","z":"6e7fc802.814718","name":"5.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_2.wav","options":"{}","x":790,"y":2940,"wires":[["a3d9075c.135018"]]},{"id":"5d69ed4b.30ef04","type":"switch","z":"6e7fc802.814718","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":2960,"wires":[["eadf1429.7b7a78"],["faf1e8a6.c83af8"],["a3d9075c.135018"]]},{"id":"d431431f.46dff","type":"link in","z":"6e7fc802.814718","name":"StartNiv5","links":["67b8a820.96fdb8"],"x":235,"y":2960,"wires":[["deb35a71.c7def8"]]},{"id":"1ea4a16b.66573f","type":"random","z":"6e7fc802.814718","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":380,"y":2040,"wires":[["b3197890.9bc798"]]},{"id":"ffb2169e.781a68","type":"random","z":"6e7fc802.814718","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":380,"y":1660,"wires":[["ce7003c0.a28e7"]]},{"id":"75ca00ea.ffe8e","type":"random","z":"6e7fc802.814718","name":"random 5","low":"1","high":"5","inte":"true","property":"payload","x":380,"y":2380,"wires":[["799af59f.aebfec"]]},{"id":"7aee6e35.e465b","type":"random","z":"6e7fc802.814718","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":380,"y":2680,"wires":[["397d2ddc.b26672"]]},{"id":"deb35a71.c7def8","type":"random","z":"6e7fc802.814718","name":"random 2","low":"2","high":"2","inte":"true","property":"payload","x":380,"y":2960,"wires":[["5d69ed4b.30ef04"]]},{"id":"c12211d1.f09e4","type":"PlaySound","z":"6e7fc802.814718","name":"3.5","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_5.wav","options":"{}","x":790,"y":2380,"wires":[["985c5a11.668ea8"]]},{"id":"6e1b6cf7.f9ed74","type":"switch","z":"6e7fc802.814718","name":"if release?","property":"level","propertyType":"global","rules":[{"t":"gte","v":"niveauRelease","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":120,"wires":[["4b6e777b.b76e88"],["1b06d8d2.cdf7b7"]]},{"id":"94b55dd6.4d10a","type":"switch","z":"6e7fc802.814718","name":"level?","property":"level","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":950,"y":580,"wires":[["eeca9cf.cc0f16"],["ec134692.4fa738"],["472bbbd5.5f6094"],["eba06072.d951b"]]},{"id":"7c2a4f9f.05e1e","type":"change","z":"6e7fc802.814718","name":"loopTimestamp","rules":[{"t":"set","p":"loopTimestamp","pt":"global","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":580,"wires":[["8b897b44.6f5138"]]},{"id":"8b897b44.6f5138","type":"function","z":"6e7fc802.814718","name":"UpdateLevel?","func":"var loopTimestamp = global.get('loopTimestamp');\nvar levelSwitchTimestamp = global.get('levelSwitchTimestamp');\nvar switchDelayMs = global.get('switchDelayMs');\nvar level = global.get('level');\n\nvar newLevel = level;\nif(levelSwitchTimestamp + switchDelayMs < loopTimestamp) {\n    newLevel = level < 4 ? level + 1 : 4;\n    global.set('level', newLevel);\n    global.set('levelSwitchTimestamp', loopTimestamp);\n}\n\nreturn {\n    payload: newLevel,\n    loopTimestamp,\n    levelSwitchTimestamp,\n    switchDelayMs,\n    level,\n    newLevel,\n};","outputs":1,"noerr":0,"x":540,"y":580,"wires":[["94b55dd6.4d10a","68629379.de171c"]]},{"id":"68629379.de171c","type":"debug","z":"6e7fc802.814718","name":"Level","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":500,"wires":[]},{"id":"2cddce60.3799a2","type":"change","z":"6e7fc802.814718","name":"","rules":[{"t":"set","p":"level","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":20,"wires":[[]]},{"id":"240ca1c2.578ade","type":"python3-function","z":"6e7fc802.814718","name":"Check distance","func":"import RPi.GPIO as GPIO\nimport time\n\nGPIO.setmode(GPIO.BOARD)\nGPIO.setup(36,GPIO.IN)\n\ntry:\n    msg['payload'] = GPIO.input(36)\n    GPIO.cleanup()\n    return msg\nexcept KeyboardInterrupt:\n    GPIO.cleanup()\n    msg['payload'] = 1\n    return msg","outputs":1,"x":520,"y":200,"wires":[["2f194274.bf0a7e","37bbf8d0.7ac758"]]},{"id":"2f194274.bf0a7e","type":"switch","z":"6e7fc802.814718","name":"Someone?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":200,"wires":[["6e1b6cf7.f9ed74","2cddce60.3799a2"],["7c2a4f9f.05e1e"]],"outputLabels":["Non","Oui"]},{"id":"4b6e777b.b76e88","type":"delay","z":"6e7fc802.814718","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":80,"wires":[["67b8a820.96fdb8"]]},{"id":"bade84be.15eca8","type":"link in","z":"6e7fc802.814718","name":"Restart Now","links":["33a70937.10d616","c59c92d7.b3efa","985c5a11.668ea8","6b068aa9.d1e5a4","a3d9075c.135018"],"x":95,"y":160,"wires":[["eccc74e0.2d2f68"]]},{"id":"1b06d8d2.cdf7b7","type":"link out","z":"6e7fc802.814718","name":"","links":["ffd29c40.a779"],"x":1235,"y":140,"wires":[]},{"id":"ffd29c40.a779","type":"link in","z":"6e7fc802.814718","name":"Restart delay","links":["1b06d8d2.cdf7b7","eba06072.d951b"],"x":95,"y":220,"wires":[["d7d5ba1b.025978"]]},{"id":"d7d5ba1b.025978","type":"delay","z":"6e7fc802.814718","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":220,"wires":[["eccc74e0.2d2f68","31a55214.ce812e"]]},{"id":"33a70937.10d616","type":"link out","z":"6e7fc802.814718","name":"","links":["bade84be.15eca8"],"x":1055,"y":1680,"wires":[],"inputLabels":["Restart"]},{"id":"c59c92d7.b3efa","type":"link out","z":"6e7fc802.814718","name":"","links":["bade84be.15eca8"],"x":1055,"y":2080,"wires":[],"inputLabels":["Restart"]},{"id":"985c5a11.668ea8","type":"link out","z":"6e7fc802.814718","name":"","links":["bade84be.15eca8"],"x":1055,"y":2420,"wires":[],"inputLabels":["Restart"]},{"id":"6b068aa9.d1e5a4","type":"link out","z":"6e7fc802.814718","name":"","links":["bade84be.15eca8"],"x":1055,"y":2720,"wires":[],"inputLabels":["Restart"]},{"id":"a3d9075c.135018","type":"link out","z":"6e7fc802.814718","name":"","links":["bade84be.15eca8"],"x":1055,"y":2980,"wires":[],"inputLabels":["Restart"]},{"id":"14c802c1.20510d","type":"comment","z":"6e7fc802.814718","name":"GOTO : Son 5","info":"","x":1330,"y":80,"wires":[]},{"id":"9eebaa52.762c48","type":"comment","z":"6e7fc802.814718","name":"GOTO : Restart Delay","info":"","x":1360,"y":140,"wires":[]},{"id":"b09ab02f.9e6c2","type":"comment","z":"6e7fc802.814718","name":"GOTO : Son 1","info":"","x":1330,"y":500,"wires":[]},{"id":"9423e327.0e8f2","type":"comment","z":"6e7fc802.814718","name":"GOTO : Son 2","info":"","x":1330,"y":540,"wires":[]},{"id":"af015e8f.2a1df","type":"comment","z":"6e7fc802.814718","name":"GOTO : Son 3","info":"","x":1330,"y":580,"wires":[]},{"id":"e7fb5fa4.bc716","type":"comment","z":"6e7fc802.814718","name":"GOTO : Son 4","info":"","x":1330,"y":620,"wires":[]},{"id":"eba06072.d951b","type":"link out","z":"6e7fc802.814718","name":"","links":["ffd29c40.a779"],"x":1235,"y":660,"wires":[]},{"id":"c6f7cc7a.27293","type":"comment","z":"6e7fc802.814718","name":"GOTO : Restart Now","info":"","x":1350,"y":660,"wires":[]},{"id":"68ba8d20.959c04","type":"comment","z":"6e7fc802.814718","name":"GOTO : Restart Now","info":"","x":1170,"y":1680,"wires":[]},{"id":"c7637657.c466e8","type":"comment","z":"6e7fc802.814718","name":"GOTO : Restart Now","info":"","x":1170,"y":2080,"wires":[]},{"id":"b7ae042d.b46178","type":"comment","z":"6e7fc802.814718","name":"GOTO : Restart Now","info":"","x":1170,"y":2420,"wires":[]},{"id":"86f424b0.c27a98","type":"comment","z":"6e7fc802.814718","name":"GOTO : Restart Now","info":"","x":1170,"y":2720,"wires":[]},{"id":"85045e72.456f6","type":"comment","z":"6e7fc802.814718","name":"GOTO : Restart Now","info":"","x":1170,"y":2980,"wires":[]},{"id":"80208af7.ce1068","type":"comment","z":"6e7fc802.814718","name":"Son 5","info":"","x":150,"y":2960,"wires":[]},{"id":"bb45a27a.cef5c","type":"comment","z":"6e7fc802.814718","name":"Son 4","info":"","x":150,"y":2680,"wires":[]},{"id":"391a2406.fb52cc","type":"comment","z":"6e7fc802.814718","name":"Son 3","info":"","x":150,"y":2380,"wires":[]},{"id":"a7a26a57.9679e8","type":"comment","z":"6e7fc802.814718","name":"Son 2","info":"","x":150,"y":2040,"wires":[]},{"id":"58a2add0.a430e4","type":"comment","z":"6e7fc802.814718","name":"Son 1","info":"","x":150,"y":1660,"wires":[]},{"id":"1fb698d9.0b4167","type":"comment","z":"6e7fc802.814718","name":"Non","info":"","x":930,"y":180,"wires":[]},{"id":"9ed0a9c5.cea0c8","type":"comment","z":"6e7fc802.814718","name":"Oui","info":"","x":930,"y":220,"wires":[]},{"id":"ffe308f8.cb5758","type":"debug","z":"6e7fc802.814718","name":"Check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":80,"wires":[]},{"id":"eccc74e0.2d2f68","type":"function","z":"6e7fc802.814718","name":">>","func":"\nreturn {};","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["ffe308f8.cb5758","240ca1c2.578ade"]]},{"id":"ff9de21b.8b3fd","type":"PlaySound","z":"6e7fc802.814718","name":"test_left","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_left.wav","options":"{  }","x":300,"y":840,"wires":[[]]},{"id":"498f4f88.2c78b","type":"PlaySound","z":"6e7fc802.814718","name":"test_right","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_right.wav","options":"{  }","x":300,"y":880,"wires":[[]]},{"id":"9f742baf.5b1468","type":"PlaySound","z":"6e7fc802.814718","name":"test_left","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_1.wav","options":"{  }","x":480,"y":840,"wires":[[]]},{"id":"d169fb17.9a4978","type":"PlaySound","z":"6e7fc802.814718","name":"test_right","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_2.wav","options":"{  }","x":480,"y":880,"wires":[[]]},{"id":"72c5f088.2ffb5","type":"PlaySound","z":"6e7fc802.814718","name":"test_left","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_left.wav","options":"{  }","x":680,"y":840,"wires":[[]]},{"id":"11427ce1.80ada3","type":"PlaySound","z":"6e7fc802.814718","name":"test_right","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/test_right.wav","options":"{  }","x":680,"y":880,"wires":[[]]},{"id":"37bbf8d0.7ac758","type":"debug","z":"6e7fc802.814718","name":"distance","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":100,"wires":[]},{"id":"31a55214.ce812e","type":"debug","z":"6e7fc802.814718","name":"Delay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":280,"wires":[]},{"id":"d472de12.a121f","type":"change","z":"dd58744e.a91f58","name":"Init Flow Variables","rules":[{"t":"set","p":"level","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["6791cf8.86cd13"]]},{"id":"d88796fc.707a68","type":"link in","z":"dd58744e.a91f58","name":"Manage level","links":["7af56766.7f2848"],"x":215,"y":620,"wires":[["bdbccaec.d36e48"]]},{"id":"7af56766.7f2848","type":"link out","z":"dd58744e.a91f58","name":"","links":["d88796fc.707a68"],"x":1215,"y":300,"wires":[]},{"id":"171398e4.f0dd77","type":"comment","z":"dd58744e.a91f58","name":"GOTO : Manage level","info":"","x":1340,"y":300,"wires":[]},{"id":"4cfae70.bb39518","type":"comment","z":"dd58744e.a91f58","name":"Manage level","info":"","x":110,"y":620,"wires":[]},{"id":"e7c957ea.5a1818","type":"comment","z":"dd58744e.a91f58","name":"Restart Delay","info":"","x":110,"y":340,"wires":[]},{"id":"7ddf0322.2386dc","type":"comment","z":"dd58744e.a91f58","name":"Restart now","info":"","x":110,"y":260,"wires":[]},{"id":"9d5ceb53.a9aed8","type":"link in","z":"dd58744e.a91f58","name":"Manage reset","links":["1a0a6344.75dd2d","84b855e7.cd3a58"],"x":215,"y":780,"wires":[["215c527b.1042ee"]]},{"id":"8d11d13c.53702","type":"comment","z":"dd58744e.a91f58","name":"Manage reset","info":"","x":110,"y":780,"wires":[]},{"id":"7352f54b.5758cc","type":"change","z":"dd58744e.a91f58","name":"set loopTimeStamp","rules":[{"t":"set","p":"loopTimeStamp","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":780,"wires":[["ff6d45ca.37e9b8"]]},{"id":"da4922fb.60122","type":"switch","z":"dd58744e.a91f58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":780,"wires":[["6580da6.380e524","5ca3f187.d0b79"]]},{"id":"ff6d45ca.37e9b8","type":"function","z":"dd58744e.a91f58","name":"delay","func":"var lastLevelUpdate = flow.get('lastLevelUpdate');\nvar loopTimeStamp = flow.get('loopTimeStamp');\nvar resetDelaySeconds = global.get('resetDelaySeconds');\n\nif(loopTimeStamp > lastLevelUpdate + (resetDelaySeconds * 1000)) {\n    return {\n        payload:true,\n        loopTimeStamp,\n        lastLevelUpdate,\n        resetDelaySeconds,\n    };\n} else {\n    return {\n        payload:false,\n        loopTimeStamp,\n        lastLevelUpdate,\n        resetDelaySeconds,\n    };\n}\n","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["da4922fb.60122"]]},{"id":"5ca3f187.d0b79","type":"debug","z":"dd58744e.a91f58","name":"Reset Level To 0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":720,"wires":[]},{"id":"6791cf8.86cd13","type":"change","z":"dd58744e.a91f58","name":"set lastLevelUpdate","rules":[{"t":"set","p":"lastLevelUpdate","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[["a0adb6a5.60d958"]]},{"id":"215c527b.1042ee","type":"switch","z":"dd58744e.a91f58","name":"level > 0","property":"level","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":780,"wires":[["7352f54b.5758cc"]]},{"id":"7796cea5.7d57","type":"function","z":"dd58744e.a91f58","name":"Trigger sound","func":"\nreturn {\n    audioURI: \n        global.get('pathOfSounds') + \n        flow.get('level') + '_'+msg.rnd+'.wav',\n};","outputs":1,"noerr":0,"x":540,"y":1180,"wires":[["6208de79.c088b"]]},{"id":"6208de79.c088b","type":"PlaySound","z":"dd58744e.a91f58","name":"","playerOptions":"{\"player\":\"aplay\"}","audioURI":"","options":"{}","x":770,"y":1180,"wires":[["826f1a.29ba10e8"]]},{"id":"20b05d4.fca3ea2","type":"inject","z":"dd58744e.a91f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1060,"wires":[["5de5a43b.19365c"]]}]