Sapin.json
[{"id":"51c656e9.773ca8","type":"tab","label":"WebDataFromFlow","disabled":true,"info":""},{"id":"f7cc2157.d9df8","type":"tab","label":"Sapin","disabled":false,"info":""},{"id":"2b9bf0c3.fdff1","type":"rpi-mouse","z":"51c656e9.773ca8","name":"right click","butt":"2","x":500,"y":40,"wires":[["9f561a1d.c31d98"]]},{"id":"9f561a1d.c31d98","type":"debug","z":"51c656e9.773ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":40,"wires":[]},{"id":"6df95ded.7654b4","type":"http in","z":"51c656e9.773ca8","name":"GET /test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":500,"y":120,"wires":[["8692419.fd6f6c"]]},{"id":"2ee096f9.c9654a","type":"template","z":"51c656e9.773ca8","name":"Ma page","field":"payload","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"Allo {{payload.message}}!\nhey {{payload.flowmessage}}...","output":"str","x":840,"y":120,"wires":[["ebb6a813.f19e18"]]},{"id":"ebb6a813.f19e18","type":"http response","z":"51c656e9.773ca8","name":"","statusCode":"200","headers":{},"x":1020,"y":120,"wires":[]},{"id":"72e7145b.71027c","type":"inject","z":"51c656e9.773ca8","name":"","topic":"","payload":"Test1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":180,"wires":[["9e4aec0a.5c492"]]},{"id":"34d3601c.324c5","type":"inject","z":"51c656e9.773ca8","name":"","topic":"","payload":"Test2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":240,"wires":[["9e4aec0a.5c492"]]},{"id":"9e4aec0a.5c492","type":"function","z":"51c656e9.773ca8","name":"","func":"flow.set('outmessage', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[[]]},{"id":"8692419.fd6f6c","type":"function","z":"51c656e9.773ca8","name":"","func":"var lastmessage = flow.get('outmessage');\nmsg.payload.flowmessage = lastmessage;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["2ee096f9.c9654a"]]},{"id":"4a255e2c.bce02","type":"debug","z":"51c656e9.773ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":380,"wires":[]},{"id":"985921f2.1a83e","type":"python3-function","z":"51c656e9.773ca8","name":"Check distance","func":"import RPi.GPIO as GPIO\nimport time\n\ndef checkdist():\n    GPIO.output(16, GPIO.HIGH)\n    time.sleep(0.000015)\n    GPIO.output(16, GPIO.LOW)\n    while not GPIO.input(18):\n            pass\n    t1 = time.time()\n    while GPIO.input(18):\n            pass\n    t2 = time.time()\n    return (t2-t1)*340/2\n\nGPIO.setmode(GPIO.BOARD)\nGPIO.setup(16,GPIO.OUT,initial=GPIO.LOW)\nGPIO.setup(18,GPIO.IN)\ntime.sleep(0.25)\n\ntry:\n    msg['payload'] = checkdist()\n    return msg\nexcept KeyboardInterrupt:\n    GPIO.cleanup()","outputs":1,"x":580,"y":380,"wires":[["6d019617.623628"]]},{"id":"6bb19fca.27134","type":"inject","z":"51c656e9.773ca8","name":"Watch for object","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0","x":240,"y":380,"wires":[["985921f2.1a83e"]]},{"id":"24336139.128b1e","type":"rpi-gpio in","z":"51c656e9.773ca8","name":"Bouton rouge","pin":"7","intype":"up","debounce":"25","read":false,"x":190,"y":820,"wires":[["65b9f819.e79968"]]},{"id":"9fc900a7.85183","type":"debug","z":"51c656e9.773ca8","name":"Bouton rouge debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":680,"wires":[]},{"id":"ea72cc3b.1ff0b","type":"rpi-gpio out","z":"51c656e9.773ca8","name":"LED rouge","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1070,"y":720,"wires":[]},{"id":"97dc9b3f.b89d78","type":"inject","z":"51c656e9.773ca8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":720,"wires":[["4ca41e56.dd37c"]]},{"id":"2103d904.0d59e6","type":"inject","z":"51c656e9.773ca8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":760,"wires":[["7932aa73.1d5274"]]},{"id":"65b9f819.e79968","type":"function","z":"51c656e9.773ca8","name":"reverse","func":"if (msg.payload === 1) {\n    msg.payload = 0;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":880,"wires":[["3646941b.70e4ec"]]},{"id":"4ca41e56.dd37c","type":"change","z":"51c656e9.773ca8","name":"On","rules":[{"t":"set","p":"light","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":720,"wires":[["ea72cc3b.1ff0b","9fc900a7.85183","b1022899.83b698","b3c8f7fc.52e578"]]},{"id":"7932aa73.1d5274","type":"change","z":"51c656e9.773ca8","name":"Off","rules":[{"t":"set","p":"light","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":760,"wires":[["ea72cc3b.1ff0b","9fc900a7.85183","88f81d5d.0b159","a9f7f5ee.af3b88"]]},{"id":"3646941b.70e4ec","type":"function","z":"51c656e9.773ca8","name":"Toggle","func":"\nif(msg.payload === 1) {\n    if(flow.get('light') === 0) {\n        msg.payload = 1\n    } else {\n        msg.payload = 0\n    }\n} else {\n    msg.payload = flow.get('light')\n}\nnode.log(\"msg from toggle\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":940,"wires":[["fb66a296.3c5b2"]]},{"id":"fb66a296.3c5b2","type":"switch","z":"51c656e9.773ca8","name":"Trigger change","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":940,"wires":[["4ca41e56.dd37c"],["7932aa73.1d5274"]]},{"id":"c340b37d.6dbd7","type":"play audio","z":"51c656e9.773ca8","name":"","voice":"53","x":1230,"y":840,"wires":[]},{"id":"b1022899.83b698","type":"trigger","z":"51c656e9.773ca8","op1":"Allo","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Hello","x":1050,"y":780,"wires":[["c340b37d.6dbd7"]]},{"id":"88f81d5d.0b159","type":"trigger","z":"51c656e9.773ca8","op1":"Bye","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Bye","x":1050,"y":840,"wires":[["c340b37d.6dbd7"]]},{"id":"a9f7f5ee.af3b88","type":"function","z":"51c656e9.773ca8","name":"Reset voice","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":940,"wires":[["b1022899.83b698"]]},{"id":"b3c8f7fc.52e578","type":"function","z":"51c656e9.773ca8","name":"Reset voice","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":900,"wires":[["88f81d5d.0b159"]]},{"id":"8b1e65d9.0a54e8","type":"play audio","z":"51c656e9.773ca8","name":"Dire la distance","voice":"3","x":1110,"y":460,"wires":[]},{"id":"fa6f0377.81b1d","type":"function","z":"51c656e9.773ca8","name":"Set text","func":"\nvar dist = Math.round(msg.payload*100)\n\nmsg.payload = \"L'objet est à \" + dist + \" centimètres de moi\"\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":460,"wires":[["8b1e65d9.0a54e8"]]},{"id":"878c3a0.43353c8","type":"PlaySound","z":"51c656e9.773ca8","name":"","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/jolly.wav","options":"{}","x":1110,"y":520,"wires":[[]]},{"id":"6d019617.623628","type":"switch","z":"51c656e9.773ca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"0.3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":520,"wires":[[]]},{"id":"7278908d.48889","type":"trigger","z":"51c656e9.773ca8","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":200,"y":300,"wires":[[]]},{"id":"f8e8e1d.4ebc82","type":"python3-function","z":"f7cc2157.d9df8","name":"Check distance","func":"import RPi.GPIO as GPIO\nimport time\n\ndef checkdist():\n    GPIO.output(16, GPIO.HIGH)\n    time.sleep(0.000015)\n    GPIO.output(16, GPIO.LOW)\n    while not GPIO.input(18):\n            pass\n    t1 = time.time()\n    while GPIO.input(18):\n            pass\n    t2 = time.time()\n    return (t2-t1)*340/2\n\nGPIO.setmode(GPIO.BOARD)\nGPIO.setup(16,GPIO.OUT,initial=GPIO.LOW)\nGPIO.setup(18,GPIO.IN)\ntime.sleep(0.25)\n\ntry:\n    msg['payload'] = checkdist()\n    return msg\nexcept KeyboardInterrupt:\n    GPIO.cleanup()","outputs":1,"x":160,"y":700,"wires":[["c25a86a4.fc2348"]]},{"id":"c84f56b6.964778","type":"inject","z":"f7cc2157.d9df8","name":"Main loop","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":"2","x":130,"y":520,"wires":[["573dcf71.eca28"]]},{"id":"c3c9f006.b85eb","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_1.wav","options":"{}","x":770,"y":1940,"wires":[["cb388899.6c1338"]]},{"id":"c25a86a4.fc2348","type":"switch","z":"f7cc2157.d9df8","name":"close enough","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":700,"wires":[["a47ea23.225cc6"],["5f125086.f952e"]]},{"id":"73b30b84.e018e4","type":"inject","z":"f7cc2157.d9df8","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":380,"wires":[["cf8150c5.697db"]]},{"id":"573dcf71.eca28","type":"switch","z":"f7cc2157.d9df8","name":"if not runing","property":"isruning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":520,"wires":[["7388735f.9a7cdc"]]},{"id":"7388735f.9a7cdc","type":"change","z":"f7cc2157.d9df8","name":"Run","rules":[{"t":"set","p":"isruning","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":520,"wires":[["f8e8e1d.4ebc82"]]},{"id":"cf8150c5.697db","type":"change","z":"f7cc2157.d9df8","name":"Init Variables","rules":[{"t":"set","p":"isruning","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"nbr1","pt":"flow","to":"6","tot":"num"},{"t":"set","p":"nbr2","pt":"flow","to":"4","tot":"num"},{"t":"set","p":"nbr3","pt":"flow","to":"5","tot":"str"},{"t":"set","p":"nbr4","pt":"flow","to":"5","tot":"str"},{"t":"set","p":"nbr5","pt":"flow","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[[]]},{"id":"cb388899.6c1338","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isruning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2220,"wires":[[]]},{"id":"ea06cf2f.4acb3","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_2.wav","options":"{}","x":770,"y":1980,"wires":[["cb388899.6c1338"]]},{"id":"61df1185.ce854","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_3.wav","options":"{}","x":770,"y":2020,"wires":[["cb388899.6c1338"]]},{"id":"b0953b.94643ac8","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_4.wav","options":"{}","x":770,"y":2060,"wires":[["cb388899.6c1338"]]},{"id":"f6049b54.528e98","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.5","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_5.wav","options":"{}","x":770,"y":2100,"wires":[["cb388899.6c1338"]]},{"id":"1d4d89cf.353c86","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.6","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_6.wav","options":"{}","x":770,"y":2140,"wires":[["cb388899.6c1338"]]},{"id":"a1808c30.cd524","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":530,"y":2120,"wires":[["c3c9f006.b85eb"],["ea06cf2f.4acb3"],["61df1185.ce854"],["b0953b.94643ac8"],["f6049b54.528e98"],["1d4d89cf.353c86"],["cb388899.6c1338"]]},{"id":"a47ea23.225cc6","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isruning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":700,"wires":[[]]},{"id":"af28b8a7.a36238","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_1.wav","options":"{}","x":750,"y":2380,"wires":[["1d1b9bc5.e8d664"]]},{"id":"1d1b9bc5.e8d664","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isruning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2520,"wires":[[]]},{"id":"22b09c8a.6ab394","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_2.wav","options":"{}","x":750,"y":2420,"wires":[["1d1b9bc5.e8d664"]]},{"id":"e63238bb.2579d8","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_3.wav","options":"{}","x":750,"y":2460,"wires":[["1d1b9bc5.e8d664"]]},{"id":"1e83e8bd.9661b7","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_4.wav","options":"{}","x":750,"y":2500,"wires":[["1d1b9bc5.e8d664"]]},{"id":"b73c0d02.13c46","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":2500,"wires":[["af28b8a7.a36238"],["22b09c8a.6ab394"],["e63238bb.2579d8"],["1e83e8bd.9661b7"],["1d1b9bc5.e8d664"]]},{"id":"5f125086.f952e","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv1","links":["96880639.4ff598"],"x":655,"y":800,"wires":[]},{"id":"96880639.4ff598","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv1","links":["5f125086.f952e"],"x":215,"y":2120,"wires":[["e9c725be.92d478"]]},{"id":"8c3e5616.770f08","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv2","links":["d228612a.7f08d"],"x":195,"y":2500,"wires":[["57f19e30.8ce04"]]},{"id":"d228612a.7f08d","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv2","links":["8c3e5616.770f08"],"x":655,"y":860,"wires":[]},{"id":"44eec3d.21ed23c","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv3","links":["3404563a.a3a4ba"],"x":655,"y":920,"wires":[]},{"id":"9391ff41.b1021","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv4","links":["a41e3f46.b7396"],"x":655,"y":980,"wires":[]},{"id":"6b19324e.50f97c","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv5","links":["3dca1bd3.a13bb4"],"x":655,"y":1040,"wires":[]},{"id":"4e97b659.ec60c8","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut1.wav","options":"{}","x":750,"y":2720,"wires":[["9b0893c9.9c765"]]},{"id":"9b0893c9.9c765","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isruning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2860,"wires":[[]]},{"id":"76ffc231.0773cc","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut2.wav","options":"{}","x":750,"y":2760,"wires":[["9b0893c9.9c765"]]},{"id":"5b290ef6.2bb47","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut3.wav","options":"{}","x":750,"y":2800,"wires":[["9b0893c9.9c765"]]},{"id":"1fc1a87b.40e6d8","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut4.wav","options":"{}","x":750,"y":2840,"wires":[["9b0893c9.9c765"]]},{"id":"9d73a355.cdd4d","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":2840,"wires":[["4e97b659.ec60c8"],["76ffc231.0773cc"],["5b290ef6.2bb47"],["1fc1a87b.40e6d8"],["9b0893c9.9c765"]]},{"id":"3404563a.a3a4ba","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv3","links":["44eec3d.21ed23c"],"x":195,"y":2840,"wires":[["a8ffbf4c.ea803"]]},{"id":"c516db5b.5d0f08","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut1.wav","options":"{}","x":750,"y":3020,"wires":[["211e129b.7bcd2e"]]},{"id":"211e129b.7bcd2e","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isruning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":3160,"wires":[[]]},{"id":"edc09456.7912b8","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut2.wav","options":"{}","x":750,"y":3060,"wires":[["211e129b.7bcd2e"]]},{"id":"c69c0072.5c88b","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut3.wav","options":"{}","x":750,"y":3100,"wires":[["211e129b.7bcd2e"]]},{"id":"6eef9aec.d27f14","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut4.wav","options":"{}","x":750,"y":3140,"wires":[["211e129b.7bcd2e"]]},{"id":"772217e4.e0a688","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":3140,"wires":[["c516db5b.5d0f08"],["edc09456.7912b8"],["c69c0072.5c88b"],["6eef9aec.d27f14"],["211e129b.7bcd2e"]]},{"id":"a41e3f46.b7396","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv4","links":["9391ff41.b1021"],"x":195,"y":3140,"wires":[["a79fc3cc.f04f6"]]},{"id":"4de8ad07.0842d4","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut1.wav","options":"{}","x":750,"y":3300,"wires":[["7c1f10d6.79704"]]},{"id":"7c1f10d6.79704","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isruning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":3440,"wires":[[]]},{"id":"6933e792.330598","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut2.wav","options":"{}","x":750,"y":3340,"wires":[["7c1f10d6.79704"]]},{"id":"4dc52ec1.851d4","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut3.wav","options":"{}","x":750,"y":3380,"wires":[["7c1f10d6.79704"]]},{"id":"f24be3e3.a93d9","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/Stade1/Debut4.wav","options":"{}","x":750,"y":3420,"wires":[["7c1f10d6.79704"]]},{"id":"1735da8b.98da25","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":3420,"wires":[["4de8ad07.0842d4"],["6933e792.330598"],["4dc52ec1.851d4"],["f24be3e3.a93d9"],["7c1f10d6.79704"]]},{"id":"3dca1bd3.a13bb4","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv5","links":["6b19324e.50f97c"],"x":195,"y":3420,"wires":[["b5734568.8ea768"]]},{"id":"57f19e30.8ce04","type":"random","z":"f7cc2157.d9df8","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":340,"y":2500,"wires":[["b73c0d02.13c46"]]},{"id":"e9c725be.92d478","type":"random","z":"f7cc2157.d9df8","name":"random 6","low":"1","high":"6","inte":"true","property":"payload","x":360,"y":2120,"wires":[["a1808c30.cd524"]]},{"id":"a8ffbf4c.ea803","type":"random","z":"f7cc2157.d9df8","name":"random 5","low":"1","high":"5","inte":"true","property":"payload","x":340,"y":2840,"wires":[["9d73a355.cdd4d"]]},{"id":"a79fc3cc.f04f6","type":"random","z":"f7cc2157.d9df8","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":340,"y":3140,"wires":[["772217e4.e0a688"]]},{"id":"b5734568.8ea768","type":"random","z":"f7cc2157.d9df8","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":340,"y":3420,"wires":[["1735da8b.98da25"]]}]