Sapin.json
[{"id":"f7cc2157.d9df8","type":"tab","label":"Sapin","disabled":false,"info":""},{"id":"f8e8e1d.4ebc82","type":"python3-function","z":"f7cc2157.d9df8","name":"Check distance","func":"import RPi.GPIO as GPIO\nimport time\n\ndef checkdist():\n    GPIO.output(16, GPIO.HIGH)\n    time.sleep(0.000015)\n    GPIO.output(16, GPIO.LOW)\n    while not GPIO.input(18):\n            pass\n    t1 = time.time()\n    while GPIO.input(18):\n            pass\n    t2 = time.time()\n    return (t2-t1)*340/2\n\nGPIO.setmode(GPIO.BOARD)\nGPIO.setup(16,GPIO.OUT,initial=GPIO.LOW)\nGPIO.setup(18,GPIO.IN)\n#time.sleep(0.25)\n\ntry:\n    msg['payload'] = checkdist()\n    return msg\nexcept KeyboardInterrupt:\n    GPIO.cleanup()","outputs":1,"x":160,"y":700,"wires":[["c25a86a4.fc2348","238e2f81.41919"]]},{"id":"c84f56b6.964778","type":"inject","z":"f7cc2157.d9df8","name":"Main loop","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":"2","x":130,"y":520,"wires":[["573dcf71.eca28"]]},{"id":"c3c9f006.b85eb","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_1.wav","options":"{}","x":770,"y":1940,"wires":[["cb388899.6c1338"]]},{"id":"c25a86a4.fc2348","type":"switch","z":"f7cc2157.d9df8","name":"close enough","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":700,"wires":[["130af2f2.9dd81d"],["2dd69b5a.f0bf34"]]},{"id":"73b30b84.e018e4","type":"inject","z":"f7cc2157.d9df8","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":380,"wires":[["cf8150c5.697db"]]},{"id":"573dcf71.eca28","type":"switch","z":"f7cc2157.d9df8","name":"if not running","property":"isrunning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":520,"wires":[["7388735f.9a7cdc","80d26646.4d4048"]]},{"id":"7388735f.9a7cdc","type":"change","z":"f7cc2157.d9df8","name":"Run","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":520,"wires":[["f8e8e1d.4ebc82"]]},{"id":"cf8150c5.697db","type":"change","z":"f7cc2157.d9df8","name":"Init Variables","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"level","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"switchDelayMs","pt":"flow","to":"2500","tot":"num"},{"t":"set","p":"levelSwitchTimestamp","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[[]]},{"id":"cb388899.6c1338","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2220,"wires":[[]]},{"id":"ea06cf2f.4acb3","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_2.wav","options":"{}","x":770,"y":1980,"wires":[["cb388899.6c1338"]]},{"id":"61df1185.ce854","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_3.wav","options":"{}","x":770,"y":2020,"wires":[["cb388899.6c1338"]]},{"id":"b0953b.94643ac8","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_4.wav","options":"{}","x":770,"y":2060,"wires":[["cb388899.6c1338"]]},{"id":"f6049b54.528e98","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.5","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_5.wav","options":"{}","x":770,"y":2100,"wires":[["cb388899.6c1338"]]},{"id":"1d4d89cf.353c86","type":"PlaySound","z":"f7cc2157.d9df8","name":"1.6","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/1_6.wav","options":"{}","x":770,"y":2140,"wires":[["cb388899.6c1338"]]},{"id":"a1808c30.cd524","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":530,"y":2120,"wires":[["c3c9f006.b85eb"],["ea06cf2f.4acb3"],["61df1185.ce854"],["b0953b.94643ac8"],["f6049b54.528e98"],["1d4d89cf.353c86"],["cb388899.6c1338"]]},{"id":"a47ea23.225cc6","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":660,"wires":[[]]},{"id":"af28b8a7.a36238","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_1.wav","options":"{}","x":750,"y":2380,"wires":[["1d1b9bc5.e8d664"]]},{"id":"1d1b9bc5.e8d664","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2520,"wires":[[]]},{"id":"22b09c8a.6ab394","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_2.wav","options":"{}","x":750,"y":2420,"wires":[["1d1b9bc5.e8d664"]]},{"id":"e63238bb.2579d8","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_3.wav","options":"{}","x":750,"y":2460,"wires":[["1d1b9bc5.e8d664"]]},{"id":"1e83e8bd.9661b7","type":"PlaySound","z":"f7cc2157.d9df8","name":"2.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/2_4.wav","options":"{}","x":750,"y":2500,"wires":[["1d1b9bc5.e8d664"]]},{"id":"b73c0d02.13c46","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":2500,"wires":[["af28b8a7.a36238"],["22b09c8a.6ab394"],["e63238bb.2579d8"],["1e83e8bd.9661b7"],["1d1b9bc5.e8d664"]]},{"id":"5f125086.f952e","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv1","links":["96880639.4ff598"],"x":955,"y":920,"wires":[]},{"id":"96880639.4ff598","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv1","links":["5f125086.f952e"],"x":215,"y":2120,"wires":[["e9c725be.92d478"]]},{"id":"8c3e5616.770f08","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv2","links":["d228612a.7f08d"],"x":195,"y":2500,"wires":[["57f19e30.8ce04"]]},{"id":"d228612a.7f08d","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv2","links":["8c3e5616.770f08"],"x":955,"y":960,"wires":[]},{"id":"44eec3d.21ed23c","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv3","links":["3404563a.a3a4ba"],"x":955,"y":1000,"wires":[]},{"id":"9391ff41.b1021","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv4","links":["a41e3f46.b7396"],"x":955,"y":1040,"wires":[]},{"id":"6b19324e.50f97c","type":"link out","z":"f7cc2157.d9df8","name":"GoToNiv5","links":["3dca1bd3.a13bb4"],"x":975,"y":620,"wires":[]},{"id":"4e97b659.ec60c8","type":"PlaySound","z":"f7cc2157.d9df8","name":"3.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_1.wav","options":"{}","x":750,"y":2700,"wires":[["9b0893c9.9c765"]]},{"id":"9b0893c9.9c765","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2920,"wires":[[]]},{"id":"76ffc231.0773cc","type":"PlaySound","z":"f7cc2157.d9df8","name":"3.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_2.wav","options":"{}","x":750,"y":2740,"wires":[["9b0893c9.9c765"]]},{"id":"5b290ef6.2bb47","type":"PlaySound","z":"f7cc2157.d9df8","name":"3.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_3.wav","options":"{}","x":750,"y":2780,"wires":[["9b0893c9.9c765"]]},{"id":"1fc1a87b.40e6d8","type":"PlaySound","z":"f7cc2157.d9df8","name":"3.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_4.wav","options":"{}","x":750,"y":2820,"wires":[["9b0893c9.9c765"]]},{"id":"9d73a355.cdd4d","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":530,"y":2840,"wires":[["4e97b659.ec60c8"],["76ffc231.0773cc"],["5b290ef6.2bb47"],["1fc1a87b.40e6d8"],["cb4b77e8.cb95f8"],["9b0893c9.9c765"]]},{"id":"3404563a.a3a4ba","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv3","links":["44eec3d.21ed23c"],"x":195,"y":2840,"wires":[["a8ffbf4c.ea803"]]},{"id":"c516db5b.5d0f08","type":"PlaySound","z":"f7cc2157.d9df8","name":"4.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_1.wav","options":"{}","x":750,"y":3020,"wires":[["211e129b.7bcd2e"]]},{"id":"211e129b.7bcd2e","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":3160,"wires":[[]]},{"id":"edc09456.7912b8","type":"PlaySound","z":"f7cc2157.d9df8","name":"4.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_2.wav","options":"{}","x":750,"y":3060,"wires":[["211e129b.7bcd2e"]]},{"id":"c69c0072.5c88b","type":"PlaySound","z":"f7cc2157.d9df8","name":"4.3","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_3.wav","options":"{}","x":750,"y":3100,"wires":[["211e129b.7bcd2e"]]},{"id":"6eef9aec.d27f14","type":"PlaySound","z":"f7cc2157.d9df8","name":"4.4","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/4_4.wav","options":"{}","x":750,"y":3140,"wires":[["211e129b.7bcd2e"]]},{"id":"772217e4.e0a688","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":3140,"wires":[["c516db5b.5d0f08"],["edc09456.7912b8"],["c69c0072.5c88b"],["6eef9aec.d27f14"],["211e129b.7bcd2e"]]},{"id":"a41e3f46.b7396","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv4","links":["9391ff41.b1021"],"x":195,"y":3140,"wires":[["a79fc3cc.f04f6"]]},{"id":"4de8ad07.0842d4","type":"PlaySound","z":"f7cc2157.d9df8","name":"5.1","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_1.wav","options":"{}","x":750,"y":3360,"wires":[["7c1f10d6.79704"]]},{"id":"7c1f10d6.79704","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":3420,"wires":[[]]},{"id":"6933e792.330598","type":"PlaySound","z":"f7cc2157.d9df8","name":"5.2","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/5_2.wav","options":"{}","x":750,"y":3400,"wires":[["7c1f10d6.79704"]]},{"id":"1735da8b.98da25","type":"switch","z":"f7cc2157.d9df8","name":"RND","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":3420,"wires":[["4de8ad07.0842d4"],["6933e792.330598"],["7c1f10d6.79704"]]},{"id":"3dca1bd3.a13bb4","type":"link in","z":"f7cc2157.d9df8","name":"StartNiv5","links":["6b19324e.50f97c"],"x":195,"y":3420,"wires":[["b5734568.8ea768"]]},{"id":"57f19e30.8ce04","type":"random","z":"f7cc2157.d9df8","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":340,"y":2500,"wires":[["b73c0d02.13c46"]]},{"id":"e9c725be.92d478","type":"random","z":"f7cc2157.d9df8","name":"random 6","low":"1","high":"6","inte":"true","property":"payload","x":360,"y":2120,"wires":[["a1808c30.cd524"]]},{"id":"a8ffbf4c.ea803","type":"random","z":"f7cc2157.d9df8","name":"random 5","low":"1","high":"5","inte":"true","property":"payload","x":340,"y":2840,"wires":[["9d73a355.cdd4d"]]},{"id":"a79fc3cc.f04f6","type":"random","z":"f7cc2157.d9df8","name":"random 4","low":"1","high":"4","inte":"true","property":"payload","x":340,"y":3140,"wires":[["772217e4.e0a688"]]},{"id":"b5734568.8ea768","type":"random","z":"f7cc2157.d9df8","name":"random 2","low":"1","high":"2","inte":"true","property":"payload","x":340,"y":3420,"wires":[["1735da8b.98da25"]]},{"id":"cb4b77e8.cb95f8","type":"PlaySound","z":"f7cc2157.d9df8","name":"3.5","playerOptions":"{\"player\":\"aplay\"}","audioURI":"/home/pi/Music/Rires_Prototype/3_5.wav","options":"{}","x":750,"y":2860,"wires":[[]]},{"id":"130af2f2.9dd81d","type":"switch","z":"f7cc2157.d9df8","name":"if level > 2","property":"level","propertyType":"flow","rules":[{"t":"gt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":640,"wires":[["6b19324e.50f97c","5b92837b.4034fc"],["a47ea23.225cc6","5b92837b.4034fc"]]},{"id":"b4274ee2.b3e72","type":"switch","z":"f7cc2157.d9df8","name":"level?","property":"level","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":730,"y":1000,"wires":[["5f125086.f952e"],["d228612a.7f08d"],["44eec3d.21ed23c"],["9391ff41.b1021"],["287066ee.7f11ba"]]},{"id":"287066ee.7f11ba","type":"change","z":"f7cc2157.d9df8","name":"Restart loop","rules":[{"t":"set","p":"isrunning","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1080,"wires":[[]]},{"id":"2dd69b5a.f0bf34","type":"change","z":"f7cc2157.d9df8","name":"loopTimestamp","rules":[{"t":"set","p":"loopTimestamp","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":820,"wires":[["e8fb746.9909788"]]},{"id":"e8fb746.9909788","type":"function","z":"f7cc2157.d9df8","name":"UpdateLevel?","func":"var loopTimestamp = flow.get('loopTimestamp');\nvar levelSwitchTimestamp = flow.get('levelSwitchTimestamp');\nvar switchDelayMs = flow.get('switchDelayMs');\nvar level = flow.get('level');\n\nvar newLevel = level;\nif(levelSwitchTimestamp + switchDelayMs < loopTimestamp) {\n    newLevel = level < 4 ? level + 1 : 4;\n    flow.set('level', newLevel);\n    flow.set('levelSwitchTimestamp', loopTimestamp);\n}\n\nreturn {\n    payload: newLevel,\n    loopTimestamp,\n    levelSwitchTimestamp,\n    switchDelayMs,\n    level,\n    newLevel,\n};","outputs":1,"noerr":0,"x":470,"y":860,"wires":[["b4274ee2.b3e72","8400f70b.a08088"]]},{"id":"8400f70b.a08088","type":"debug","z":"f7cc2157.d9df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":840,"wires":[]},{"id":"238e2f81.41919","type":"debug","z":"f7cc2157.d9df8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":660,"wires":[]},{"id":"80d26646.4d4048","type":"debug","z":"f7cc2157.d9df8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":480,"wires":[]},{"id":"5b92837b.4034fc","type":"change","z":"f7cc2157.d9df8","name":"","rules":[{"t":"set","p":"level","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":720,"wires":[[]]}]